<p-panel header="Livros Cadastrados">
    <p-table
      [value]="listarLivros"
      [paginator]="true"
      [rows]="20"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template #header>
        <tr>
          <th style="width:15%">Id</th>
          <th style="width:15%">Titulo</th>
          <th style="width:25%">Autor</th>
          <th style="width:25%">Editora</th>
          <th style="width:25%">Data de Publicação</th>
          <th style="width:25%">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-livro>
        <tr>
          <td>{{ livro.id }}</td>
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.autor }}</td>
          <td>{{ livro.editora }}</td>
          <td>{{ livro.dataPublicacao }}</td>
          <td>
            <button pButton
                    type="button"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"
                    style="margin-left: 0.5em"
                    (click)="removerLivro(livro)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  